@font-face {
  font-family: 'RobotoSerif';
  src: url('./src/assets/fonts/font/RobotoSerif-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSerif';
  src: url('./src/assets/fonts/font/RobotoSerif-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSerif';
  src: url('./src/assets/fonts/font/RobotoSerif-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSerif';
  src: url('./src/assets/fonts/font/RobotoSerif-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSerif';
  src: url('./src/assets/fonts/font/RobotoSerif-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}