
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 20px;
  height: 1000px;
}

.sections-wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  min-height: 400px;
}

/* Левая колонка */
.left-column {
  width: 600px;
  padding: 40px 30px;
 
}

.section-trigger {
  padding: 18px 0;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}


.razdel {
  font-family: 'RobotoSerif';
  text-align: center;
  color: #C3DAC3;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.section-trigger:hover .razdel,
.section-trigger.active .razdel {
  color: #80786E;
}

/* Индикатор активного раздела слева */
.section-trigger.active::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 30px;
  background-color: #80786E;
  border-radius: 0 3px 3px 0;
}

/* Правая колонка */
.right-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
  }

/* Центральный контейнер для контента */
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Контент всегда по центру */
.content-wrapper {
  max-width: 600px;
  width: 100%;
  text-align: center;
  animation: fadeIn 0.4s ease;
}

.content-wrapper p {
  font-family: 'RobotoSerif';
  font-weight: 300;
  color: #D4D2CC;
  line-height: 1.3;
  font-size: 26px;
  margin: 0;
}


/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}