* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
   
}

html > body {
  margin: 0 !important;
  padding: 0 !important;
 
}

img, video, .wide-element {
  max-width: 100%;
  height: auto;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #1B1F1B;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  
}




